<!doctype html>
<html lang="en">
    <head>
        {% block title %}<title>RotMG Time Series</title>{% endblock %}
        {% block discord %}
        <meta property="og:title" content="RotMG Time Series"/>
        <meta name="theme-color" content="transparent"/>
        <meta property="description" content=""/>
        <meta property="og:description" content=""/>
        <meta property="og:url" content="https://rotmg.swrlly.com"/>
        <meta property="og:image" content="" />
        {% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/static/css/style.css?v={{css_version}}">
        {% block header %} 
        
        {% endblock %}
    </head>

    <div class="container">
        <p>testing 1 2 3...</p>
        <p>testing 1 2 3...</p>
        <p>testing 1 2 3...</p>
        <p>testing 1 2 3...</p>
    </div>

</html>