<!doctype html>
<html lang="en">
    <head>
        {% block title %}<title>RotMG Time Series</title>{% endblock %}
        {% block discord %}
        <meta property="og:title" content="RotMG Time Series"/>
        <meta name="theme-color" content="transparent"/>
        <meta property="description" content=""/>
        <meta property="og:description" content=""/>
        <meta property="og:url" content="https://rotmg.swrlly.com"/>
        <meta property="og:image" content="" />
        {% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/static/css/style.css?v={{css_version}}">    
        {% block header %} 
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/highstock/6.0.3/highstock.js" integrity="sha512-xStuxZIFeepdcpLwBhqIuU761mDfYUDbV8C8lUiTX96W+kyL+AYmY9l3o/Ku30gEek9l+hUJGQpmT4pcVm6LeA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
        <script src="/static/js/highstock.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script rel="preconnect" src="/static/js/dashboard.js"></script>
        {% endblock %}
    </head>

    <div class="container" style="height: 5em;"></div>

    <div class="container">

        <div class="one-stat-grid">
            <div class="card">
                <div class="card-header-text">Players online</div>
                <div id="players-online" class="card-content"></div>
            </div>
            <div class="card">
                <div class="card-header-text">Server status</div>
                <div id="server-status" class="card-content"></div>
            </div>
            <div class="card">c</div>
            <div class="card">c</div>
        </div>
        <div class="playercount-chart-header">Players</div>
        <div class="chart-skeleton">
            <div id="playercount-chart"></div>
        </div>
    </div>

</html>